<body>
	<div class='header'>
		<div class='addExercise'>
			<h1>Add a New Exercise</h1>
			<form method='GET' action='/insert' id='addNewExercise'>
				<fieldset>
					<label>Name of Exercise:</label>
					<input type='text' name='name' id='name' maxlength='60' required><br>
					<label>Number of Reps:</label>
					<input type='number' name='reps' min='0' max='999' id='reps'><br />
					<label>Weight used:</label>
					<input type='number' name='weight' id='weight' min='0' max='1000'> <br />
					<label>Date of Workout:</label>
					<input type='date' name='date' id='date'><br />
					<label>Pounds or Kilos:</label>
					<input type='radio' name='lbs' id = 'lbs' value='1' required>lbs
					<input type='radio' name='lbs' id = 'lbs' value='0' required>kg
					<input id='submit' type='submit' name='submitForm'>
				</fieldset>
			</form>
		</div>
	</div>


	<div class='workoutTable'>
		<table>
			<thead>
				<tr>
					<th colspan='7'>Logged Exercises<th>
				</tr>
				<tr>
					<th>Exercise Name</th>
					<th>Number of Reps</th>
					<th>Weight Used</th>
					<th>Date Completed</th>
					<th>Lbs or Kgs</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>


			<tbody class='edit'>
				{{#each results}}	
					<tr>
						<form id={{this.id}} method='GET' action='/update' style='display: none'>
 							<!--Make a hidden ID Value-->
							 <!--May not need-->
 							<input type='hidden' name='hidden-id' value = {{this.id}}>
 							
 							<!--Display Each Exercise's Information-->
 			
 							<!--Exercise Name-->
 							 <td>
								 <input type='text' name='name' id='{{this.id}}_name' maxlength='255' required style='display: none' value={{{this.name}}}>
								 <span id='cellText'>{{this.name}} </span>
							 </td>

							 <!--Number of Reps-->
							 <td>
								<input type='number' name='reps' min='1' max='999' id='{{this.id}}_reps' required style='display: none' value={{this.reps}}>
								<span id='cellText'>{{this.reps}}</span>
							 </td>

							 <!--Amount of Weight used-->
							 <td>
								<input type='number' name='weight' id='{{this.id}}_weight' min='1' max='9999' required style='display: none' value={{this.weight}}>
								<span id='cellText'>{{this.weight}}</span>
							 </td>

							 <!--Date of Exercise-->
							 <td>
								<input type='date' name='date' id='{{this.id}}_date' required style='display: none' value={{{this.date}}}>
								<span id='cellText'>{{this.date}}</span>
							 </td>

							 <!--Units Used-->
							 <td>
								<input type='radio' name='lbs' id = '{{this.id}}_lbs' value='1' required style='display: none' value={{this.lbs}}>lbs</input>
								<input type='radio' name='lbs' id = '{{this.id}}_kg' value='0' required style='display: none' >kg</input>
								<span id='cellTextRadio'></span>
							 </td>

							 <!--Buttons-->
  							 <td> 
								 	<button type='button' class='edit' name='editButton' rowId={{this.id}} style='display: block'id='{{this.id}}_editButton'>Edit</button>

									<input id='{{this.id}}_submitButton' type='submit' name='updateForm' style='display:none'>Submit</button>
 							</td>
 						</form>
						<td> 
							<form method='get' action = '/delete'>
							<button type='button' id='deleteButton' onclick='deleteRow({{this.id}})'>Delete</button>
							</form>
						</td>

					</tr>
				{{/each}}	
			</tbody>
		</table>
	</div>
</body>