<body>
		<div class='addExercise'>
			<h1>Add a New Exercise</h1>
			<form method='GET' action='/insert'>
				<fieldset>
					<label>Exercise Name:</label>
					<div>
					<input type='text' name='name' id='name' maxlength='60'><br>
					</div>
					<label>Reps:</label>
					<div>
					<input type='number' name='reps' min='0' max='999' id='reps'><br />
					</div>
					<label>Weight:</label>
					<div>
					<input type='number' name='weight' id='weight' min='0' max='1000'> <br />
					</div>
					<label>Date:</label>
					<div>
					<input type='date' name='date' id='date'><br />
					</div>
					<label>Pounds or Kilos:</label>
					<div>
					<input type='radio' name='lbs' id = 'lbs' value='1'>lbs
					<input type='radio' name='lbs' id = 'lbs' value='0'>kg
					<input id='submit' type='submit' name='submitForm'>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div class='workoutTable'>
		<table>
			<thead>
				<tr>
					<th colspan='6'>Logged Exercises<th>
				</tr>
				<tr>
					<th>Exercise Name</th>
					<th>Number of Reps</th>
					<th>Weight Used</th>
					<th>Date Completed</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>


			<tbody class='show'>
				{{#each results}}	
					<tr>
						<form method='GET' action='/update'>
 							<input type='hidden' name='id' value = {{this.id}}>
 							
							
 							 <td>
								 <input type='text' name='name' id='{{this.id}}_name' maxlength='255'style='display: none' value={{this.name}}>
								 <span id='cellText'>{{this.name}} </span>
							 </td>
						
							 
							 <td>
								<input type='number' name='reps' min='1' max='100' id='{{this.id}}_reps'style='display: none' value={{this.reps}}>
								<span id='cellText'>{{this.reps}}</span>
							 </td>

							 <td>
								<input type='number' name='weight' id='{{this.id}}_weight' min='1' max='1000'style='display: none' value={{this.weight}}>
								{{#if this.lbs}}
									<span id='cellText'>{{this.weight}} lbs</span>
								
								{{else}}
									<span id='cellText'>{{this.weight}} kgs</span>
								{{/if}}
								
							 </td>

							 <td>
								<input type='date' name='date' id='{{this.id}}_date' style='display: none' value={{{this.date}}}>

								<span id='{{this.id}}_span'></span>
								<script>
        							var startingDate = {{this.date}};
        							var year = startingDate.slice(0,3);
        							var month = startingDate.slice(1,2);
        							var day = startingDate.slice(2,3);
        							var formattedDate = month + "-" + day + "-" + year;
									document.getElementById("{{this.id}}_span").innerHTML = formattedDate;
								</script>
							 </td>

  							 <td> 
								 	<button type='button' name='editButton' style='display: block'id='{{this.id}}_editButton' onclick='edit({{this.id}})'>Edit</button>

									<button type='submit' name='submitButton' style='display: none'id='{{this.id}}_submitButton' onclick='submit({{this.id}})'>Submit</button>

 							</td>
 						</form>
						<td> 
							<form method='GET' action = '/delete'>
							<input type="hidden" name='id' value={{this.id}}>
							<button type='submit' id='{{this.id}}_deleteButton' onclick='deleteExer({{this.id}})' value="Delete">Delete</button>
							</form>
						</td>

					</tr>
				{{/each}}	
			</tbody>
		</table>
	</div>
</body>